<server description="Sample Liberty server">

    <featureManager>
        <feature>microprofile-1.2</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443"
                  id="defaultHttpEndpoint" host="*" />

    <quickStartSecurity userName="duke" userPassword="duke"/>
    <keyStore id="defaultKeyStore" password="Liberty"/>


</server>
