<server description="Sample Liberty server">

    <featureManager>
        <feature>microprofile-2.1</feature>

        <feature>usr:opentracingZipkin-0.31</feature>

    </featureManager>

    <httpEndpoint  httpPort="9080" httpsPort="9443"
                   id="defaultHttpEndpoint" host="*" />

    <!--<keyStore id="defaultKeyStore" password="Liberty" />-->

    <mpMetrics authentication="false" />

    <opentracingZipkin host="localhost" />

    <webApplication location="traced-duke.war" contextRoot="/">
        <!-- enable visibility to third party apis -->
        <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
    </webApplication>

</server>
